.teste {
  display: block;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  color: #16161d
}

.label_input {
  color: #16161d !important;
}

.input_custom_test {
  color: #16161d !important;
}
